{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {{ volunteer.name }} - {{ block.super }}
{% endblock title %}

{% block content %}

    <h1>{{ volunteer.name }}</h1>
    <p>{{ volunteer.description }}</p>
    <p>Should display Volunteer User</p>
    {% comment %} {% if user == volunteer.user %} {% endcomment %}
        <p>    
            <a href="{% url 'edit_volunteer' slug=volunteer.slug %}">
                Edit me!
            </a>
        </p>
    {% comment %} {% endif %} {% endcomment %}
{% endblock content %}

