{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Shakori Volunteer Registration
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    {% block header %}{% endblock header %}
</head>
<body>
<header>
        <h1>Shakori Hills Volunteer Portal</h1>
        <nav class="nav"> 

            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'form' %}">Form</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            {% if user.is_authenticated %}
            <uL>
                <li>
                    <a href="{% url 'auth_logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'auth_login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'registration_register'%}">Register</a>
                </li>
            </ul>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>
    <!-- as well as override content bits-->